In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [42]:
data = pd.read_csv('/Users/roberttramp/Documents/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1060,tt1712170,45000000,30353232,Alex Cross,Tyler Perry|Rachel Nichols|Jean Reno|Matthew F...,Rob Cohen,Don't Ever Cross Alex Cross,After Washington DC detective Alex Cross is to...,101,Action|Thriller|Crime|Mystery,Summit Entertainment,10/18/2012,5.2,2012
1270,tt1291580,23000000,15600000,Behind the Candelabra,Michael Douglas|Matt Damon|Rob Lowe|Dan Aykroy...,Steven Soderbergh,Too much of a good thing is wonderful,"Based on the autobiographical novel, the tempe...",118,Drama|Romance,HBO Films,5/26/2013,6.6,2013
1398,tt0398165,82000000,190320568,The Longest Yard,Adam Sandler|Chris Rock|Burt Reynolds|Michael ...,Peter Segal,"If you can't get out, get even.","Pro quarter-back, Paul Crewe and former colleg...",113,Comedy|Drama,Paramount Pictures|Columbia Pictures Corporati...,5/19/2005,6.2,2005
1549,tt0454082,9000000,21510851,Black Christmas,Katie Cassidy|Michelle Trachtenberg|Kristen Cl...,Glen Morgan,"This holiday season, the slay ride begins.",An escaped maniac returns to his childhood hom...,84,Horror|Thriller,Dimension Films,12/25/2006,5.3,2006
1767,tt0419887,20000000,73276047,The Kite Runner,Khalid Abdalla|Atossa Leoni|Shaun Toub|Zekeria...,Marc Forster,There is a way to be good again.,The Kite Runner is a 2007 American drama film ...,128,Drama,DreamWorks SKG|MacDonald/Parkes Productions|Si...,10/14/2007,7.3,2007

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
month_names = {
    1: 'Январь',
    2: 'Февраль',
    3: 'Март',
    4: 'Апрель',
    5: 'Май',
    6: 'Июнь',
    7: 'Июль',
    8: 'Август',
    9: 'Сентябрь',
    10: 'Октябрь',
    11: 'Ноябрь',
    12: 'Декабрь'
}


def count_words(text, delimiters):
    words_count = 0
    previous_delimiter = True
    for symbol in text:
        current_delimiter = symbol in delimiters
        if previous_delimiter and not current_delimiter:
            words_count += 1
        previous_delimiter = current_delimiter
    return words_count


data['title'] = data['original_title'] + ' (' + data['imdb_id'] + ')'
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data['release_date'].apply(lambda month: int(month[:month.find('/')]))
data['title_length'] = data['original_title'].str.len()
data['overview_count'] = data['overview'].apply(count_words, delimiters=' ,.!?')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
answers['1']  = data.groupby(['budget'])['original_title'].max()
display(answers['1'])

budget
5000000                                       Wonderland
5500000                                   Predestination
6000000                              We Are Your Friends
6400000                                       Young Adam
6500000                                      The Pyramid
                                ...
258000000                                   Spider-Man 3
260000000                                        Tangled
280000000                        Avengers: Age of Ultron
300000000       Pirates of the Caribbean: At World's End
380000000    Pirates of the Caribbean: On Stranger Tides
Name: original_title, Length: 203, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [12]:
answers['2'] = data.groupby(['runtime'])['original_title'].max()
display(answers['2'])

runtime
63                                   Winnie the Pooh
72                                 The Jungle Book 2
76                                           Valiant
77                                      Corpse Bride
78                          The Emperor's New Groove
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = data.groupby(['runtime'])['original_title'].min()
display(answers['3'])

runtime
63                                   Winnie the Pooh
72                              Return to Never Land
76                                 Home on the Range
77                                      Corpse Bride
78                                   Stuart Little 2
                           ...
183                                     Pearl Harbor
187                                        King Kong
191                                       Grindhouse
201    The Lord of the Rings: The Return of the King
214                                Gods and Generals
Name: original_title, Length: 105, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = data['runtime'].mean()
round(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = data['runtime'].median()
round(answers['5'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
profit = []
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data.groupby(['profit'])['original_title'].max()
display(answers['6'])

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = data.groupby(['profit'])['original_title'].min()
display(answers['7'])

profit
-165710090                  The Lone Ranger
-119180039                        The Alamo
-111007242                  Mars Needs Moms
-92896027      The Adventures of Pluto Nash
-84540684                      Flushed Away
                           ...
 1299557910                    The Avengers
 1316249360                       Furious 7
 1363528810                  Jurassic World
 1868178225    Star Wars: The Force Awakens
 2544505847                          Avatar
Name: original_title, Length: 1881, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = data.original_title [(data.revenue > data.budget)]
display(answers['8'])

0                     Jurassic World
1                 Mad Max: Fury Road
2                          Insurgent
3       Star Wars: The Force Awakens
4                          Furious 7
                    ...
1871               Keeping the Faith
1875                         The Kid
1877               Love & Basketball
1883                    Return to Me
1884                           X-Men
Name: original_title, Length: 1478, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = data[data['release_year'] == 2008].groupby(['revenue'])['original_title'].max()
answers['9']

revenue
2033165                                       Mutant Chronicles
3533227                                 The Midnight Meat Train
5530764                                      The Brothers Bloom
5926410                                           Transsiberian
6673422                                      What Just Happened
                                    ...
609841637                                            Mamma Mia!
624029371                                               Hancock
631744560                                         Kung Fu Panda
786636033     Indiana Jones and the Kingdom of the Crystal S...
1001921825                                      The Dark Knight
Name: original_title, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
profit = []
data['profit'] = data['revenue'] - data['budget']
answers['10'] = data[data['release_year'].between(2012, 2014)].groupby(['profit'])['original_title'].min()
answers['10']

profit
-165710090                     The Lone Ranger
-68351500                             R.I.P.D.
-51893525                          Upside Down
-51337973      Legends of Oz: Dorothy's Return
-45510171                   Bullet to the Head
                            ...
 894761885                     Despicable Me 2
 908561013                             Skyfall
 1015439994                         Iron Man 3
 1124219009                             Frozen
 1299557910                       The Avengers
Name: original_title, Length: 367, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [22]:
genres_count = {}
for genres in data['genres']:
    for genre in genres.split('|'):
        genres_count.setdefault(genre, 0)
        genres_count[genre] += 1

max_count = 0
max_genres = []
for genre, count in genres_count.items():
    if count > max_count:
        max_count = count
        max_genres = [genre]
    elif count == max_count:
        max_genres.append(genre)

answers['11'] = '\n'.join(max_genres)
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
answers['12'] = data[data['profit'] > 0]['genres'].str.split('|').explode().value_counts().index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [24]:
movies = pd.concat([data['revenue'], data['director'].str.split('|')], axis=1).explode('director')
movies = movies.groupby('director', sort=False)['revenue'].sum()
answers['13'] = movies[movies == movies.max()].index.str.cat(sep='\n')
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
answers['14'] = data[data['genres'].str.contains('action', case=False)]['director'].str.split('|').explode().value_counts().index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
movies = data[data['release_year'] == 2012]
movies = pd.concat([movies['revenue'], movies['cast'].str.split('|')], axis=1).explode('cast')
answers['15'] = movies.groupby('cast', sort=False)['revenue'].sum().sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
movies = data[data['budget'] > data['budget'].mean()]
answers['16'] = movies['cast'].str.split('|').explode().value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
movies = pd.concat([data['release_year'], data['genres'].str.split('|'), data['cast'].str.split('|')], axis=1).explode('genres').explode('cast')
movies = movies.groupby(['cast', 'genres'], sort=True)
answers['17'] = movies.count().loc['Nicolas Cage']['release_year'].sort_values(ascending=False).index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
movies = data[data['production_companies'].str.contains('Paramount Pictures', case=False)]
answers['18'] = movies[movies['profit'] == movies['profit'].min()]['title'].str.cat(sep='\n')
answers['18']

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [30]:
answers['19'] = data.groupby('release_year', sort=False)['revenue'].sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
movies = data[data['production_companies'].str.contains('Warner Bros', case=False)]
answers['20'] = movies.groupby('release_year', sort=False)['profit'].sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
month = data.groupby('release_month')['release_date'].count().sort_values(ascending=False).index[0]
answers['21'] = month_names[month]
answers['21']

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = data[data['release_month'].between(6, 8)].shape[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = data[(data['release_month'] == 12) | (data['release_month'] <= 2)]['director'].str.split('|').explode().value_counts().index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
movies = pd.concat([data['title_length'], data['production_companies'].str.split('|')], axis=1).explode('production_companies')
movies_grouped = movies.groupby(by='production_companies')['title_length']
answers['24'] = (movies_grouped.sum() / movies_grouped.count()).sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
movies = pd.concat([data['overview_count'], data['production_companies'].str.split('|')], axis=1).explode('production_companies')
movies_grouped = movies.groupby(by='production_companies')['overview_count']
answers['25'] = (movies_grouped.sum() / movies_grouped.count()).sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
answers['26'] = data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title'].str.cat(sep='\n')
answers['26']

'Inside Out\nRoom\nInterstellar\nGuardians of the Galaxy\nThe Imitation Game\nGone Girl\nThe Grand Budapest Hotel\nInception\nThe Dark Knight\nThe Pianist\nThe Lord of the Rings: The Return of the King\nThe Wolf of Wall Street\n12 Years a Slave\nMemento'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
actors_count = {}
for actors in data['cast'].str.split('|'):
    actors_amount = len(actors)
    for actor1_index in range(actors_amount):

        actor1 = actors[actor1_index]
        for actor2_index in range(actor1_index + 1, actors_amount):
            actor2 = actors[actor2_index]

            if actor2 > actor1:
                pair = (actor1, actor2)
            else:
                pair = (actor2, actor1)

            if pair in actors_count:
                actors_count[pair] += 1
            else:
                actors_count[pair] = 1

max_count = 0
max_pairs = []
for pair, count in actors_count.items():
    if count >= max_count:
        if count > max_count:
            max_count = count
            max_pairs.clear()
        max_pairs.append(' & '.join(pair))
answers['27'] = '\n'.join(max_pairs)
answers['27']

'Daniel Radcliffe & Rupert Grint\nDaniel Radcliffe & Emma Watson\nEmma Watson & Rupert Grint'

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)